textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#titleTextarea {
    height: 40px;
}

#contentTextarea {
    height: 200px;
}

#tagTextarea {
    height: 40px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}