<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    {% if g.user.role == 'User' %}
        <h1>Blog Platform</h1>
        <div class="base-button-container">
            <button onclick="location.href='/homepage'">Homepage</button>
            <button onclick="location.href='/followingposts'">Following</button>
            <button onclick="location.href='/myblog'">My Blog</button>
            <button onclick="location.href='/profile'">Profile</button>
            <button onclick="location.href='/settings'">Settings</button>
            <button onclick="location.href='/logout'">Log Out</button>
        </div>
    {% endif %}

    {% if g.user.role == 'Admin' %}
        <h1>Blog Platform - Admin Panel</h1>
        <div class="base-button-container">
            <button onclick="location.href='/admin_homepage'">Homepage</button>
            <button onclick="location.href='/userlist'">Users</button>
            <button onclick="location.href='/postlist'">Posts</button>
            <button onclick="location.href='/logout'">Log Out</button>
        </div>
    {% endif %}

    {% block content %}{% endblock %}
    
</body>
</html>
