{% extends 'base.html' %}

{% block title %}My Blog{% endblock %}

{% block content %}

<div class="posts-container">
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <hr>
            <p>{{ post.content }}</p><br><br>
            <p><strong>#{{ post.tags }}</strong></p><br><br>
            <p>{{ post.created_date.strftime('%d %B') }}</p><br><br>
            <p>{{ post.user.username }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}