{% extends 'base.html' %}

{% block title %}My Blog{% endblock %}

{% block content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Blog - Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

<script>
    window.onload = function(){
        const flashMessages = document.getElementById('flashMessages');
        if (flashMessages) {
            setTimeout(() => {
                flashMessages.style.display = 'none';
            }, 2000);
        }
    }
</script>

<style>
    .profile-box {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        font-family: Arial, sans-serif;
    }

    .profile-row {
        margin-bottom: 12px;
    }

    .profile-label {
        font-weight: bold;
        display: inline-block;
        width: 100px;
        color: #333;
    }

    #descriptionP, #descriptionTextarea {
        width: 90%;
        margin-top: 8px;
    }

    .description-text {
        width: 80%;
        max-width: 600px;
        margin-top: 8px;
        word-wrap: break-word;
        color: #333;
        font-size: 16px;
    }

    .profile-pic {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .profile-pic-small {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
</style>

<div class="profile-box">
    <div class="profile-row">
        <img src="{{ url_for('static', filename='profile_pics/' + (target_user.profile_pic_url or 'default.png')) }}" alt="Profile Picture" class="profile-pic" width="300" height="300">
    </div>
    <div class="profile-row">
        <label class="profile-label">Username:</label>
        <p style="display: inline;">{{ target_user.username }}</p>
    </div>
    <div class="profile-row">
        <label class="profile-label">E-Mail:</label>
        <p style="display: inline;">{{ target_user.email }}</p>
    </div>
    <div class="profile-row">
        <label class="profile-label">Role:</label>
        <p style="display: inline;">{{ target_user.role }}</p>
    </div>
    <br><br>
    <div class="profile-row">
        <label class="profile-label">Description:</label>
        <p id="descriptionP" class="description-text">{{ target_user.description }}</p>
    </div>    
</div>

<div class="posts-container">
    <!-- <div class="search-container">
        <form action="/homepage" method="POST">
            <input type="text" id="postsearch" name="postsearch" placeholder="Search for a Post..." required>
            <button type="submit" class="search-button">Search</button>
        </form>
    </div> -->

    <h3>{% if not target_user_posts %}No posts found{% else %}{{ target_user.username }}'s Newest Posts{% endif %}</h3>
    
    {% for post in target_user_posts %}
        {% if post.ispublic == 'public' %}
            {% if not tag or post.tags == tag %}
                {% if post.user_id == target_user.id %}
                    <div class="post" data-id="{{ post.id }}">
                        {% if post.image_url %}
                            <img src="{{ url_for('static', filename='image/' + post.image_url) }}" alt="Post Image" style="max-width: 100%; height: auto; width: 300px;"/><br>
                        {% endif %}
                        <h2>{{ post.title }}</h2>
                        <hr>

                        <p>{{ post.content }}</p><br><br>

                        <img src="{{ url_for('static', filename='icons/tag_label_blue_icon.png') }}" alt="Tag Label icon" style="width: 20px; height: auto;">
                        
                        <a href="{{ url_for('taggedposts', post_tag=post.tags) }}">{{ post.tags }}</a>
                        <br><br>

                        <img src="{{ url_for('static', filename='profile_pics/' + (post.user.profile_pic_url or 'default.png')) }}" alt="User Profile Picture" class="profile-pic-small">
                        <a href="{{ url_for('user', username=post.user.username) }}">{{ post.user.username }}</a><br><br>

                        <p>{{ post.created_date.strftime('%d %B') }}</p><br><br>

                        <img src="{{ url_for('static', filename='icons/' + ('red_heart_icon.png' if post.id|string in liked_posts else 'heart_thin_icon.png')) }}"
                            onclick="toggleImage(this, 'heart')" 
                            style="width: 20px; height: 20px; cursor: pointer;" />
                        <span class="like-count">{{ post.like_count }}</span>
                        
                        <img src="{{ url_for('static', filename='icons/' + ('saved_bookmark_icon.png' if post.id|string in saved_posts else 'saved_icon.png')) }}"
                            onclick="toggleImage(this, 'save')" 
                            style="width: 20px; height: 20px; cursor: pointer;" />
                        <span class="like-count">{{ post.save_count }}</span>

                        <br><br>

                        <a href="{{ url_for('post', post_id=post.id) }}">See Comments</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

<script>
    function toggleImage(imgElement, type){
        const currentSrc = imgElement.src;
        let newSrc;
        let action;

        if(type === 'heart'){
            if(currentSrc.includes('heart_thin_icon.png')){
                newSrc = "{{ url_for('static', filename='icons/red_heart_icon.png') }}";
                action = 'like';
            }
            else{
                newSrc = "{{ url_for('static', filename='icons/heart_thin_icon.png') }}";
                action = 'unlike';
            }
        }

        if(type === 'save'){
            if(currentSrc.includes('saved_icon.png')){
                newSrc = "{{ url_for('static', filename='icons/saved_bookmark_icon.png') }}";
                action = 'save';
            }
            else{
                newSrc = "{{ url_for('static', filename='icons/saved_icon.png') }}";
                action = 'unsave';
            }
        }
        imgElement.src = newSrc;

        const postId = imgElement.closest('.post').getAttribute('data-id');
        
        fetch("{{ url_for('toggle_like') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ post_id: postId, action: action })
        })
        .then(response => response.json())
        .then(data => {
            if(data.status === 'success'){
                if (type === 'heart') {
                    imgElement.nextElementSibling.textContent = data.like_count;
                } else if (type === 'save') {
                    imgElement.nextElementSibling.textContent = data.save_count;
                }
            }
        });
    }

    function commentPost(){
        document.getElementById('commentp').style.display = 'none';
        document.getElementById('commentTextarea').style.display = 'inline';
        document.getElementById('commentbutton').style.display = 'inline';
        document.getElementById('commentgobackbutton').style.display = 'inline';
    }

    function commentPostSubmit(){
        document.getElementById('commentp').style.display = 'inline';
        document.getElementById('commentTextarea').style.display = 'none';
        document.getElementById('commentbutton').style.display = 'none';
        document.getElementById('commentgobackbutton').style.display = 'none';
    }

</script>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul id="flashMessages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock %}